[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=false
Exec=/usr/bin/selectdefaultapplication
Name=Select Default Application
Icon=default-application
