[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=false
Exec=/usr/bin/prismlauncher
Name=Prism Launcher
Icon=org.prismlauncher.PrismLauncher
