$red: #f2594b;
$orange: #f28534;
$yellow: #e9b143;
$green: #b0b846;
$aqua: #8bba7f;
$blue: #80aa9e;
$pink: #d3869b;
$darkgrey: #7c6f64;
$lightgrey: #a89984;
$white: #e2cca9;

$fg-color: $white;
$fg-inactive: $darkgrey;
$highlight: $yellow;
$highlight-dim: #c69431;
$bg-color: #252423;
$bg-color-light: #3c3836;
$bg-color-lighter: #504945;
$bg-color-lightest: #665c54;
